*{
    -color-primary:#313e37;
    -color-accent:#252324;
    
    -color-body: #cfccc2;
    
    -color-hotel-prim: #648265;
    -color-conference-prim: #c9ac38;
    -color-card-body: #b1c5b6;

}
.app {
	-fx-background-color: -color-body;
}
.scroll-pane {
	-fx-fit-to-height: true;
    -fx-fit-to-width: true;
}
/* =========== Header ===========*/
.app .header {
	-fx-background-color: -color-primary;
	-fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
}
.header .label, .headline {
	-fx-padding: 10px 10px;
	-fx-font-size: 20px;	
	-fx-font-weight:400;
	-fx-text-fill: WHITE;
}
/* =========== Navigation ===========*/
.nav-buttons {
	-fx-padding: 0 25px;
	-fx-spacing: 10px;
	-fx-pref-height: 51px;
}
.nav-buttons .button {
	-fx-background-color: -color-accent;
	-fx-pref-height: 50px;
	-fx-pref-width: 50px;
	-fx-background-size: 60%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;

	-fx-opacity: 0.6;
}
.nav-buttons .button:hover, .nav-buttons #active {
	-fx-border-radius: 3px;
	-fx-border-color: RGB(255, 255, 255, 0.6);
	-fx-opacity: 1;
}

/* ========= Buttons (genereal) */

.btn-delete {
	-fx-background-image:url(images/trashbin_open.png);
}
.btn-delete:hover {
	-fx-background-image:url(images/trashbin_closed.png);
}
#edit {
	-fx-background-image:url(images/edit.png);
}
#save {
	-fx-background-image:url(images/save.png);
}
.btn-conference {
	-fx-background-image:url(images/calendar.png);
}

.btn-hotel {
	-fx-background-image:url(images/hotel.png);
}
.btn-help {
	-fx-background-image:url(images/help.png);
}
.btn-dummy {
	-fx-background-image:url(images/dummy.png);
}
.btn-print {
	-fx-background-image:url(images/print.png);
}

/* ========= Add Button (Circle) */
#addConference {
	-fx-fill: -color-conference-prim;
}
#addHotel {
	-fx-fill: -color-hotel-prim;
}
/* =========== Body ===========*/
.body {
}

.headline {
	-fx-font-size: 30px;	
	-fx-font-weight:400;
	-fx-text-fill: BLACK;
}
.headline-sub {
	-fx-font-size: 20px;	
	-fx-font-weight:300;
}


.conference-list, .hotel-list {
	-fx-padding: 0 25 0 25;
	-fx-background-color: -color-body;
}

.hotel-list VBox, .conference-list VBox {
	-fx-spacing: 20;
	-fx-background-color: -color-body;
}

/* ========= Participant pane */

.participant-pane .button {
	-fx-pref-height: 50px;
	-fx-pref-width: 50px;
	-fx-background-size: 60%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center
}