.card {
	-fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
}

.card .text-input:readonly {
    -fx-background-color: transparent;
}

/* ========= Card and Hotel */
.hotel-list .card-hotel, .conference-list  .card-conference {
	-fx-pref-width: 400px;	
}

.hotel-list .card-hotel:hover, .conference-list .card-conference:hover {
	-fx-border-color: RGB(255, 255, 255, 0.6);
    -fx-border-width: 1px;
}
/* ========= Registration */

.card-registration {
	-fx-background-color: #043d5d;
}

.card-registration .label {
	-fx-text-fill: grey;
}
/* ========= Help */
.card-help {
	-fx-background-color: #f47723;
	-fx-min-width: 600;
}
.card-help .hotkeys .label {
	-fx-text-fill: grey;
	-fx-padding: 0 0 2 10;
}

.card-help .button {
	-fx-pref-height: 50px;
	-fx-pref-width: 50px;
	-fx-background-size: 60%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center
}
/* ========= Hotel */

.card-hotel {
	-fx-background-color: -color-card-body;
}

.card-hotel .headline {
	-fx-background-color: -color-hotel-prim;
}

/* ========= Conference */
.card-conference {
	-fx-background-color: -color-card-body;
}
.card-pane .card-conference {
	-fx-min-height: 900;
}


.conference-row {
	-fx-spacing: 20;	
}
.card-conference .headline, .card-conference .cover-image {
	-fx-alignment: center;	
}
.card-conference .headline {
	-fx-background-color: -color-conference-prim;
}

.card-conference .content .label {
	-fx-padding: 10px 10px;
	-fx-text-fill: WHITE;	
}

.card-conference HBox {
	-fx-alignment: center-left;
}

/* ========= Conference create */

.conference-create-pane .label {
	-fx-background-insets: 10;
	-fx-padding: 10; 
}

.conference-create-pane .headline .label {
	-fx-font-size: 30px;	
	-fx-font-weight:400;
	-fx-text-fill: BLACK;
}

.tab-pane *.tab-header-background {
    -fx-background-color: rgba(0,0,0,0.0);
}


