.label {
	-fx-padding: 10px;
}

.scroll-pane {

}

.card {
	-fx-min-width: 80%;
}

.card .hbox {
	/*	-fx-alignment: center;*/
}

.hbox {
	-fx-alignment: center;
	-fx-fit-to-height: true;
    -fx-fit-to-width: true;
}
.conference-create-pane {
	-fx-spacing: 7;
}

.headline .button {
	-fx-pref-height: 50px;
	-fx-pref-width: 50px;
	-fx-background-size: 60%;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-opacity: 0.6;
}
.headline .button {
	-fx-border-radius: 3px;
	-fx-border-color: RGB(255, 255, 255, 0.6);
	-fx-opacity: 1;
}

